<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.vulkan.level"
        android:required="true"
        android:version="1" />

    <application
        android:allowBackup="false"
        android:hasCode="true"
        android:label="Mclone"
        android:theme="@android:style/Theme.Material.NoActionBar">

        <activity
            android:name="com.kzahel.mclone.McloneActivity"
            android:configChanges="density|keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|uiMode"
            android:exported="true"
            android:screenOrientation="landscape">

            <meta-data
                android:name="android.app.lib_name"
                android:value="mclone_android_client" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
